<div id="sidebar" class="mb-3 mt-3">
    <ul class="list-group">
        

        <li class="list-group-item">
            <a href="/posts/create" style="color: #00695c;">create post</a>
        </li>

        <li class="list-group-item">
            <a href="/posts" style="color: #00695c;">my post</a>
        </li>

        <li class="list-group-item">
            <a href="/dashbord/comments" style="color: #00695c;">comments</a>
        </li>

        <li class="list-group-item">
            <a href="/dashboard/edit-profile" style="color: #00695c;">edit profile</a>
        </li>

        <li class="list-group-item">
            <a href="/auth/change-password" style="color: #00695c;">change password</a>
        </li>

        <li class="list-group-item">
            <a href="/auth/logout" style="color: #00695c;">logout</a>
        </li>
    </ul>
</div>