<%- include('../partials/header') %>

<main>
    <div class="row">
        <div class="col-md-2">
        <%- include('../partials/sidebar') %>

        </div>
        <div class="col-md-6">
            <div class="">
                <form class="login-form" action="/auth/change-password" method="POST">
                    <div class="form-control">
                        <label for="oldPassword">Old Password</label>
                        <input type="password" name="oldPassword" id="oldPassword" minlength="8" required>
                    </div>
                    <div class="form-control">
                        <label for="newPassword">New Password</label>
                        <input type="password" name="newPassword" id="newPassword" minlength="8" required>
                    </div>
                    <div class="form-control">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" minlength="8" required>
                    </div>
                    <button class="btn" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>


</main>

<%- include('../partials/footer') %>